<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Demo App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Address Book</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">All Entries</a></li>
            <li><a href="#">Create Entry</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <!--/*@thymesVar id="entry" type="com.example.model.AddressBookEntry"*/-->
    <form action="#" th:action="@{/edit}" th:object="${entry}" method="post" class="form-horizontal">

        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}" />
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" />
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" placeholder="Phone" th:field="*{phone}" />
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="country" placeholder="Country" th:field="*{country}" />
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">city</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" placeholder="City" th:field="*{city}" />
            </div>
        </div>
        <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">ZIP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="zip" placeholder="ZIP" th:field="*{zip}" />
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Street</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="street" placeholder="Street" th:field="*{street}" />
            </div>
        </div>


        <button type="submit" class="btn" >Submit</button>
    </form>

</div>
</body>
</html>