<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Demo App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Address Book</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">All Entries</a></li>
            <li><a href="/new">Create Entry</a></li>
        </ul>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search" action="/search" method="get">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Search" name="pattern"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table">

        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Country</th>
            <th>City</th>
            <th>ZIP</th>
            <th>Street</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="entries" type="List<com.example.model.AddressbookEntry>"*/-->
        <tr th:each="entry : ${entries}">
            <th scope="row" th:text="${entry.id}">Id</th>
            <td th:text="${entry.title}">Title</td>
            <td th:text="${entry.firstName}">First Name</td>
            <td th:text="${entry.lastName}">Last Name</td>
            <td th:text="${entry.phone}">Phone</td>
            <td th:text="${entry.country}">Country</td>
            <td th:text="${entry.city}">City</td>
            <td th:text="${entry.zip}">ZIP</td>
            <td th:text="${entry.street}">Street</td>
            <td>
                <a th:href="@{'/edit/' + ${entry.id}}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a th:href="@{'/delete/' + ${entry.id}}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>


    </table>
</div>
</body>
</html>